* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  background-color: #222;
}

/* .piano { */
/* display: flex; */
/* height: 100vh; */
/* flex-direction: column; */
/* justify-content: space-between; */
/* align-items: center; */
/* } */

.sustain {
  /* flex: 0.2; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}
.pedal-status {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.pedal-status span {
  filter: brightness(90%);
  font-weight: 100;
}

.piano-container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.white-container {
  z-index: 100;
  height: 500px;
  background-color: gray;
  display: flex;
}

.white {
  margin-left: 6px;
  margin-bottom: 6px;
  background-color: #fff;
  flex: 1;
}
.black-container {
  z-index: 200;
  width: 95%;
  height: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.black {
  margin-left: 6px;
  margin-bottom: 6px;
  background-color: #222;
  flex: 1;
  max-width: 90px;
  height: 300px;
}
.key-w {
  margin-left: 50px;
}
.key-e {
  margin-right: 150px;
}
.key-u {
  margin-right: 140px;
}

.pressed {
  filter: brightness(80%);
  margin-bottom: 1px;
}
.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.key p {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 0.2;
}

.black p {
  color: #fff;
}
